<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <meta name="google-site-verification" content="google6a0215df3331a32a.html" />

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Shanshan Guo
              </h1>
              <p>
                Hi! I am Shanshan, I am planing to apply for a 2026fall PhD program. Before that, I received Bachelor's degree from <Northeastern href="http://english.neu.edu.cn/">Northeastern University</a>(CN), and I am actively seeking collaborative opportunities in 3D vision and robotics.
              </p>
              <p>
                I am working with <a href="https://scholar.google.com/citations?user=Iwj59kkAAAAJ">Xiwen Liang</a> and <a href="https://lemondan.github.io/">Prof. Xiaodan Liang</a> at Sun Yat-Sen University.
                Before this, I was a research intern at Northeastern University(US). During this period, it was my privilege to be mentored by <a href="https://ymingxie.github.io/">Yiming Xie</a> and <a href="https://jianghz.me/">Prof. Huaizu Jiang</a>. 
                <!-- Before that, I had the privilege to be mentored by the following advisors, who led me into the world of computer vision from nowhere.
              <li type="circle"> <a href="https://ymingxie.github.io/">Yiming Xie</a> and <a href="https://jianghz.me/">Prof.Huaizu Jiang</a>, Northeastern University, US </li>   
              <li type="circle"> <a href="https://scholar.google.com/citations?user=Iwj59kkAAAAJ">Xiwen Liang</a> and <a href="https://lemondan.github.io/">Prof.Xiaodan Liang</a>, SUN YAT-SEN UNIVERSITY, CN </li>    -->
              </br>
              <p style="text-align:center">
                <!-- <a href="https://drive.google.com/file/d/1k5PWYF4q4BPy3Uz6EP5fqJG2En2qK0Fm/view?usp=sharing">CV</a> / -->
                <a target="_blank" href="https://mailhide.io/e/NcwrC5nH"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/coralkwok">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?hl=en&user=EuYMQV4AAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <!--<a href="https://www.linkedin.com/in/kyle-sargent-784006134/"> LinkedIn </a> &nbsp;/&nbsp;-->
                <a href="https://twitter.com/coralkuo"> Twitter </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="/img/shan.jpeg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                My research in computer vision focuses on 3D vision, robotics, and embodied AI, dedicated to developing physically verifiable vision technologies.
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.0%;width:37%;vertical-align:middle;horizontal-align:middle;min-width:120px">
              {% if post.image %}
              <center>
              <img align='middle' src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;horizontal-align:middle" />
              </center>
              {% endif %}
              <!-- {% if post.video %}
              <video height=157 width=269 class="demoVideo" controls autoplay>
              <source src="{{post.video}}" type="video/mp4">Your browser does not support the video tag.
              </video>
              {% endif %} -->
            </td>
            <td style="padding:2.5%;width:63%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <!-- <br> -->
              <br>
              {{post.authors}}

              <br>
              {{post.venue}}
              {% if post.venue2 %}
              <br>
              {{post.venue2}}
              {% endif %}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.thesis %}
              <a href="{{post.thesis}}">thesis</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.projectpage %}
              <a href="{{post.projectpage}}">project page</a> /
              {% endif %}
              {% if post.visualresults %}
              <a href="{{post.visualresults}}">visual results</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>

        <!--Experience-->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Experience</h2>
            </td>
          </tr>
        </tbody></table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.0%;width:20%;vertical-align:middle;horizontal-align:middle;min-width:120px">
              <center>
              <img align='middle' src="./img/NEU-US.jpeg" alt="institution image" style="width:auto; height:auto; max-width:60px;horizontal-align:middle" />
              </center>
            </td>
            <td style="padding:2.5%;width:80%;vertical-align:middle">
              <strong>Visual Intelligence Lab, Northeastern University, US</strong><br>
              Research Intern<br>
              Jun. 2023 - Oct. 2023<br>
              Work with <a href="https://ymingxie.github.io/">Yiming Xie</a> and <a href="https://jianghz.me/">Huaizu Jiang</a>
            </td>
          </tr>
          <tr>
            <td style="padding:2.0%;width:20%;vertical-align:middle;horizontal-align:middle;min-width:120px">
              <center>
              <img align='middle' src="./img/SYSU.png" alt="institution image" style="width:auto; height:auto; max-width:60px;horizontal-align:middle" />
              </center>
            </td>
            <td style="padding:2.5%;width:80%;vertical-align:middle">
              <strong>HCP-I2 Lab, SUN YAT-SEN UNIVERSITY, CN</strong><br>
              Research Intern<br>
              Nov. 2022 - Now<br>
              Work with <a href="https://scholar.google.com/citations?user=Iwj59kkAAAAJ">Xiwen Liang</a> and <a href="https://lemondan.github.io/">Xiaodan Liang</a><br>  
            </td>
          </tr>
        </table>
        <!--End Experience-->

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Miscellanea</h2>
            </td>
          </tr>
          <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                  <strong>Conference Reviewer:</strong> ICLR 2025, ACM MM 2025.
              </td>
          </tr>
          <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                  <strong>Personal Interests:</strong>
                  <ul>
                      <li>I am a huge fan of Lee Dong-wook.</li>
                      <li>Sleeping, reading, skating, painting, anything new and exciting.</li>
                  </ul>
              </td>
          </tr>
        </tbody></table>
      

        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20"><tbody>
          <!-- Siteviews -->
          <tr>
            <td style="text-align:center; padding:10px 0;">
              <details style="cursor:pointer; display:inline-block; text-align:center;">
                <summary style="font-weight:bold; list-style:none; font-size:1.1em;">
                  Siteviews
                  <span style="font-size:0.8em; margin-left:5px;">▼</span>
                </summary>
                
                <div style="margin-top:15px;">
                  <!-- RevolverMaps globe -->
                  <!-- <script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=5l8ky7om5uw&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=0" async="async"></script> -->
                  <!-- https://clustrmaps.com/ -->
                  <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=CEkiJ9Obxel8eieg6iKT8PNVvwNxcfJhpLsR9ZE8sSU&cl=ffffff&w=a"></script>
                  
                  <!-- Last update info -->
                  <p style="font-size:small; margin-top:10px;">Last update: May, 2025</p>
                </div>
              </details>
            </td>
          </tr>
        </tbody></table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collSleeping, reading, skating,Sleeping, reading, skating, painting, anything new and exciting. painting, anything new and exciting.apse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Built with the
                <a style="font-size:small;" href="https://github.com/leonidk/new_website/">Jekyll fork</a> by
                <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman </a> of
                <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

